<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <form method="post" action="{{ url_for('todos_create') }}">
        <input type="text" name="title" placeholder="New todo">
        <button type="submit">Add</button>
    </form>

    <hr />

    <ul>
        {% for t in todos %}
        <li>
            {# {{ t.id }}: {{ t.title }} #}
            {{ loop.revindex }}: {{ t.title }}

            <form method="post" action="{{ url_for('todos_delete', todo_id=t.id) }}" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% else %}
            <p>まだTodoがありません</p>
        {% endfor %}
    </ul>
</body>
</html>